{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
